#home::before{ 
    height: 540px;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 3px 12px;
}
.main-box{
    margin: 10px 0px;
}
.box{
    margin: 10px 20px;
    padding: 2px 40px;
    text-align: center;
}
#services h1, #contact h1, #events h1, #our-reach h1{
    padding-left: 0px;
    padding-right: 0px;
}