.main-box1{
    display:grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
}
.box1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}